ul {
    list-style: disc;
}

h1,
h2 {
    color: #673ab7;
    // margin-bottom: 10px;

}

p {
    margin-bottom: 0;
}

.c-header {
    background-color: #673ab7;
}

.fname {
    color: #fff;
}

mat-icon {
    font-size: 16px;
    line-height: 1.9;
}

// .editIcon {
//     font-size: 18px;
// }

h2 {
    margin-bottom: 6px;
}
