ul {
    list-style: disc;
}

h1,
h2 {
    // color: #673ab7;
    // margin-bottom: 10px;

}
.card{
    position: relative;
}
.download-btn {
    position: absolute;
    bottom: 10px;
    right: 30px;
}

p {
    margin-bottom: 0;
}

.c-header {
    // background-color: #673ab7;
    // background-image: linear-gradient(to right, #a1c4fd 0%, #c2e9fb 51%, #a1c4fd 100%);
    background-color: #d9d9d9;
}


mat-icon {
    font-size: 16px;
    line-height: 1.9;
}

// .editIcon {
//     font-size: 18px;
// }

h2 {
    margin-bottom: 6px;
}


