
    <mat-toolbar class="bg-s text-white">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="sidenav.toggle()" >
        <mat-icon>menu</mat-icon>
      </button>
      <span>Resume Dashboard</span>
<!--     
    <div class="ml-auto">
        <a routerLink="/" mat-button routerLinkActive="ac">
            Resume
          </a>
    </div> -->
    </mat-toolbar>

    <mat-drawer-container class="example-container" >
        <mat-drawer mode="side" #sidenav >

            <mat-nav-list>
                <a routerLink="/main" mat-list-item (click)="sidenav.toggle()" routerLinkActive="ac"  [routerLinkActiveOptions]="{exact: true}">
                    <mat-icon>
                        house
                    </mat-icon>
                    <span class="ml-2">
                        Home
                    </span>
                </a>
                <a routerLink="/resume" mat-list-item (click)="sidenav.toggle()" routerLinkActive="ac">
                    <mat-icon>assignment</mat-icon>
                    <span class="ml-2">
                        Resume
                    </span>
                </a>
                <a  mat-list-item (click)="sidenav.toggle()" >
             
                    <mat-icon>
                        person
                    </mat-icon>
                    
                    <span class="ml-2">
                        profile
                    </span>
                </a>
                <a mat-list-item (click)="sidenav.toggle()">
                    <mat-icon>
                        forum
                    </mat-icon>
                    
                    <span class="ml-2">
                        about
                    </span>
                </a>
            </mat-nav-list>
        </mat-drawer>
        <mat-drawer-content (click)="sidenav.close()">
            <div class="container mt-5">
                <div class="row">
                    <div class="col-12">
                        <ng-content></ng-content>
            <div class="loader" *ngIf="isLoading">
                <div class="spinner-border text-primary" role="status">
                <span class="sr-only">Loading...</span>
                </div>
            </div>
                    </div>
                </div>
            </div>
        </mat-drawer-content>
      </mat-drawer-container>
   