<h1 mat-dialog-title *ngIf="!resObj" class="bg-violet">Fill Information</h1>
<h1 mat-dialog-title *ngIf="resObj" class="bg-yellow">Update Information</h1>
<form [formGroup]="resumeForm" (ngSubmit)="onResumeFormSubmit()" >
    <div mat-dialog-content class="content">
        <div class="row">
            <div class="col-md-12">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Full Name</mat-label>
                    <input matInput placeholder="Enter Your Full Name" formControlName="fullName" required
                        cdkFocusInitial>
                    <mat-icon matSuffix [ngClass]="{'text-danger': f['fullName'].invalid}">{{!f['fullName'].invalid ?
                        'sentiment_very_satisfied' :
                        'sentiment_very_dissatisfied'}}</mat-icon>
                    <mat-error>
                        this field is mandatory
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Email Address</mat-label>
                    <input matInput placeholder="Enter your Email" formControlName="email" >
                    <mat-icon matSuffix [ngClass]="{'text-danger': f['email'].invalid}">{{!f['email'].invalid ?
                        'sentiment_very_satisfied' :
                        'sentiment_very_dissatisfied'}}</mat-icon>
                        <mat-error *ngIf="f['email'].hasError('required')">
                            this field is mandatory
                        </mat-error>
                    <mat-error *ngIf="f['email'].hasError('pattern')">
                        please enter valid email
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-6">

                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Phone Number</mat-label>
                    <input matInput placeholder="Enter Your Phone Number" formControlName="phone">
                    <mat-icon matSuffix [ngClass]="{'text-danger': f['phone'].invalid}">phone</mat-icon>
                    <mat-error *ngIf="f['phone'].hasError('required')">
                        this field is mandatory
                    </mat-error>

                    <mat-error *ngIf="f['phone'].hasError('pattern')">
                        please enter valid number
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Address</mat-label>
                    <textarea matInput placeholder="Enter Your Address Here..." rows="3"
                        formControlName="address"></textarea>
                    <mat-error>
                        this field is mandatory
                    </mat-error>
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 rwd-1">
                <div class="row" formArrayName="education"
                    *ngFor="let edu of EducationFormsArray.controls, index as i">
                    <div class="col-12">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>{{i + 1}}.Education</mat-label>
                            <mat-select [formControlName]="i" required>
                                <mat-option>None</mat-option>
                                <mat-option value="10th">10th</mat-option>
                                <mat-option value="12th">12th</mat-option>
                                <mat-option value="Graduation">Graduation</mat-option>
                                <mat-option value="Post-Graduation">Post-Graduation</mat-option>
                            </mat-select>
                           
                            <mat-error>
                                this field is mandatory
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            
            <div class="col-md-8 rwd-2">
                <div class="row" formArrayName="board" *ngFor="let board of boardFormsArray.controls, index as i">
                    <div class="col-12">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Board/University Name</mat-label>
                            <input matInput placeholder="Enter Your School/University Name" [formControlName]="i"
                                required>
                                <!-- <button mat-mini-fab color="basic" type="button">
                                    <mat-icon (click)="addEduction()" class="addIcon">add_circle_outline</mat-icon>
                                    </button> -->
                            <mat-icon matSuffix *ngIf="boardFormsArray.length > 1" (click)="onRemoveEdu(i)"
                                class="addIcon text-danger">remove_circle_outline</mat-icon>
                            <mat-error>
                                this field is mandatory
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>

            </div>
        </div>



        <div class="row mb-3">
            <div class="col-12" align="end">
                <button mat-mini-fab color="basic" type="button" [disabled]="boardFormsArray.length > 3">
                <mat-icon (click)="addEduction()" class="addIcon text-success">add_circle_outline</mat-icon>
                </button>
                <mat-error *ngIf="EducationFormsArray.length >= 4">
                    you can add upto 4
                </mat-error>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-12">
                <!-- <label id="example-radio-group-label"></label><br> -->
                <h4>Employment:</h4>

                <mat-radio-group  color="primary" formControlName="employment">
                <mat-radio-button [value]="emp" *ngFor="let emp of employmentArray" >{{emp}}</mat-radio-button>
             
              </mat-radio-group>
            </div>
        </div>
        <div class="row" *ngIf="f['companyName']">
            <div class="col-md-8">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Current Company Name</mat-label>
                    <input matInput placeholder="Enter Your Current Company Name" formControlName="companyName" required
                        cdkFocusInitial>
                    <mat-icon matSuffix [ngClass]="{'text-danger': f['companyName'].invalid}">{{!f['companyName'].invalid ?
                        'sentiment_very_satisfied' :
                        'sentiment_very_dissatisfied'}}</mat-icon>
                    <mat-error> 
                        this field is mandatory
                    </mat-error>
                </mat-form-field>

            </div>
            <div class="col-md-4">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Total Experience</mat-label>
                    <mat-select  required formControlName="experience">
                        <mat-option value="3 Month">3 Month</mat-option>
                        <mat-option value="6 Month">6 Month</mat-option>
                        <mat-option value="1 Year">1 Year</mat-option>
                        <mat-option value="2 Year">2 Year</mat-option>
                        <mat-option value="3+ Year">3+ Year</mat-option>
                    </mat-select>
                    <mat-error>
                        this field is mandatory
                    </mat-error>
                </mat-form-field>
            </div>
        </div>

        <div class="row" *ngIf="f['designation']">
            <div class="col-md-12">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Current designation</mat-label>
                    <input matInput placeholder="Enter Your Current designation" formControlName="companyName" required
                    formControlName="designation"
                        cdkFocusInitial>
                    <mat-icon matSuffix [ngClass]="{'text-danger': f['designation'].invalid}">{{!f['designation'].invalid ?
                        'sentiment_very_satisfied' :
                        'sentiment_very_dissatisfied'}}</mat-icon>
                    <mat-error> 
                        this field is mandatory
                    </mat-error>
                </mat-form-field>
            </div>
      
        </div>


        <div class="row">
            <div class="col-12">
                <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Add Skills</mat-label>
                    <mat-chip-list #chipList required>
                        <mat-chip *ngFor="let sk of skills" (removed)="remove(sk)">
                            {{sk.name}}
                            <button matChipRemove>
                                <mat-icon>cancel</mat-icon>
                            </button>
                        </mat-chip>
                        <input required placeholder="New Skills..." [matChipInputFor]="chipList"
                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                            (matChipInputTokenEnd)="add($event)">
                    </mat-chip-list>
                </mat-form-field>
            </div>
        </div>

     


        <div class="row mb-3">
            <div class="col-12">

                <h4>Select Language:</h4>
                <section class="d-flex">
                    <mat-checkbox formControlName="langEnglish" color="primary">English</mat-checkbox>
                    <mat-checkbox formControlName="langHindi" color="primary">Hindi</mat-checkbox>
                    <mat-checkbox formControlName="langMarathi" color="primary">Marathi</mat-checkbox>
                </section>
            </div>
        </div>

        <div class="row" formArrayName="hobby" *ngFor="let hobby of hobbyFormsArray.controls, index as i">
            <div class="col-md-12">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>{{i + 1}}. Add Hobby</mat-label>
                    <input matInput placeholder="Enter Your {{i + 1}} hobby here" 
                        cdkFocusInitial [formControlName]="i">
                  
                            <mat-icon class="addIcon text-danger" matSuffix (click)="onRemoveHobby(i)" *ngIf="hobbyFormsArray.length > 1">remove_circle_outline</mat-icon>
                    <mat-error>
                        this field is mandatory
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-2 d-flex align-items-center justify-content-end mb-3" >
                
            </div>
        </div>
        
        <div class="row mb-2">
            <div class="col-md-12" align="end">
                <button mat-mini-fab color="basic" type="button" [disabled]="hobbyFormsArray.length >= 3">
                    <mat-icon class="addIcon text-success" (click)="addHobby()" >add_circle_outline</mat-icon>
                </button>
                <mat-error *ngIf="hobbyFormsArray.length >= 3">
                    you can add upto 3
                </mat-error>
            </div>
        </div>



        <div class="row">
            <div class="col-12">
                <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Your Objective</mat-label>
                    <textarea matInput placeholder="Enter Your Objective Here..." rows="4"
                        formControlName="objective"></textarea>
                    <mat-error>
                        this field is mandatory
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
    </div>

 
    <mat-dialog-actions class="d-flex justify-content-between">
        <div>
             <button mat-mini-fab color="warn" type="button"  (click)="onDelete()"  mat-dialog-close *ngIf="resObj">
                <mat-icon>delete</mat-icon>
              </button>
        </div>
        <div>
            <button mat-button type="button" mat-dialog-close>Cancel</button>
    <button mat-button mat-raised-button color="primary" type="submit" *ngIf="!resObj"
        [disabled]="!skills.length || resumeForm.invalid" [mat-dialog-close]="true">
        Create
    </button>

    
            <button mat-button mat-raised-button color="accent" 
            *ngIf="resObj"
            [disabled]="!skills.length || resumeForm.invalid" 
            type="button"
            (click)="onUpdate()"
            [mat-dialog-close]="true">Update</button>
        </div>
    </mat-dialog-actions>
</form>