mat-checkbox {
    margin-left: 6px;
}

.addIcon {
    // background-color: green;
    // color: white;
    cursor: pointer;
}
.bg-violet{
    color: #673ab7;
}

.bg-yellow{
    color: #ffd740;
    text-shadow: 1px 1px 0.5px #000;
}

.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
}

// ::ng-deep .mat-dialog-container:not(matInput) {
//     box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2),0px 24px 38px 3px rgba(0, 0, 0, 0.14),0px 9px 46px 8px rgba(0, 0, 0, 0.12);
//     // background: #000 !important;
//     background-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%);
//     color: rgba(0,0,0,.87);
// }


.mat-chip.mat-standard-chip {
    background-color: #ffecd2;
    color: rgba(0,0,0,.87);
}


.rwd-1{
    width: 40%;
}

.rwd-2{
    width: 60%;
}

// ::ng-deep.mat-form-field-infix.ng-tns-c97 {
//     height: 100px;
//     display: block;
//     position: relative;
//     flex: auto;
//     min-width: 0;
//     width: 180px;
// }
